:root{
    --width:1720px;
    --pic-width:1320px;
    --font-size:22px;
    --logo-size:58px;
    --nav-size: 20px;
    --code-font-size: 18px;
}
@media (max-width: 1000px) {
:root
    {
    --width:900px;
    --pic-width:800px;
    --font-size:36px;
    --logo-size:82px;
    --nav-size: 34px;
    --code-font-size: 26px;
    }
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body 
{
    background-blend-mode: difference;
    background-image: url(https://i.pinimg.com/736x/34/01/ee/3401ee2dbb27776d850e77c6a2bee3d2.jpg);
    background-color: rgb(80, 85, 90);
    margin: 0 auto;
    padding: 20px;
    width: var(--width);
}

#logo
{
    font-size: var(--logo-size);
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 200px;
}


#content
{
    border-radius: 20px;
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(48, 45, 45);
    box-shadow: -6px 2px 12px black;
    box-shadow: 4px 2px 12px black;
    margin-left: auto;
    margin-right: auto;
}

.section {
    color: aliceblue;
    font-size: var(--font-size);
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pic
{
    margin-top: 5px;
    padding: 7px;
    text-align: center;
}
img {
    width: var(--pic-width);
    height: auto; 
}

iframe 
{
    border: none;   
    width: var(--pic-width);
    height: calc(var(--pic-width) * 0.5625);
}

.ramka
{
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    margin-top: 15px;
    padding: 1%;
    border: 2px solid aliceblue; /* Grubość obramowania w em, proporcjonalnie do tekstu */
}

.link
{
    color: #0a85eb;
    text-decoration: none;
}
.link a:hover
{
    text-decoration: underline;
}
.spis ul
{
    list-style-type: none;
}
.spis li
{
    padding: 10px;
}
.header 
{
    font-size: calc(var(--font-size) + 10px);
    font-weight: 600;
}
.code-frame 
{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    font-family: monospace;
    width: 90%; /* Adjust width as needed */
    margin: 20px auto; /* Center the frame */
    font-size: var(--code-font-size);
}
.code-frame-title 
{
    background-color: rgb(39, 37, 37);
    color: white;
    padding: 10px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
pre
{
    margin: 0;
    padding: 0;
}
code
{
    display: block;
    overflow-x: auto;
    padding: 10px;
    color: white;
    text-align: left;
}

/* EDITOR COLORS */
.purple {color: rgb(173, 64, 173);} /* Purpurowy */
.blue {color: rgb(37, 144, 231);} /* Niebieski */
.green {color: rgb(32, 179, 32);} /* Zielony */
.yellow {color: rgb(255, 255, 0);} /* Żółty */